* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 10;
  padding: 10;
}

h1 {
  text-align: center;
  padding: 0.5em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 424px;
  height: 424px;
  border: 2px solid black;
}

.grid div {
  width: 15px;
  height: 15px;
  // background: blue;
  // border: 1px solid white;
}

.pac-dot {
  background: green;
  border: 5px solid white;
}

.wall {
  background: blue;
}

.power-pellet {
  background: orangered;
  border-radius: 7.5px;
}

.pacman {
  background: yellow;
  border-radius: 7.5px;
}
